@import 'scss';

.container {
    width: 100%;
    height: 100%;
}

.noDataText {
    display: flex;
    opacity: 0.3;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.chart {
    color: lighten($color-really-grey, 20%);

    text {
        font-family: $font-grotesque;
        font-size: pxToRem(12px);
    }
}

.chartLine {
    fill: none;
    stroke: $color-green;
    stroke-width: pxToRem(3px);
}

.chartLabel {
    text-shadow: pxToRem(2px) pxToRem(2px) 0 $color-white, pxToRem(-2px) pxToRem(-2px) 0 $color-white;
}

.chartCircle {
    cursor: pointer;
    fill: $color-white;
    stroke: $color-green;
    stroke-width: pxToRem(2px);
    transition: fill $transition-default;

    &:hover,
    &:focus {
        outline: none;
        fill: $color-green;
    }
}
