@import 'scss';

.pageContainer {
    max-width: pxToRem(1920px);
    margin-left: auto;
    margin-right: auto;
    padding: 0 pxToRem(10px);

    @include from(5) {
        padding: 0 pxToRem(40px);
    }
}

.boxy {
    background-color: $color-green;
    color: $color-green-but-light;
    border-radius: pxToRem(3px);
    padding: pxToRem(10px);
    text-decoration: underline;
}
