@import 'scss';

.title {
    font-size: pxToRem(16px);

    @include from(3) {
        font-size: pxToRem(18px);
    }

    @include from(8) {
        font-size: pxToRem(27px);
    }
}

.input {
    display: block;
    margin: pxToRem(15px) 0;
    font-size: pxToRem(20px);

    input {
        display: block;
        margin-top: pxToRem(10px);
        width: 60%;
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: pxToRem(16px);
    margin-bottom: pxToRem(10px);
}
