@import 'scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 0.8em;
    border: none;
    border-radius: pxToRem(3px);
    outline: none;
    transition: background-color $transition-default;
}

.greenButton {
    background-color: $color-green;
    color: $color-white;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: darken($color-green, 8%);
    }

    &:active {
        background-color: darken($color-green, 15%);
        transition: none;
    }
}

.redButton {
    background-color: $color-red;
    color: $color-white;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: darken($color-red, 8%);
    }

    &:active {
        background-color: darken($color-red, 15%);
        transition: none;
    }
}

.greenDisabled {
    background-color: transparentize($color-green, 0.5);
    color: transparentize($color-green, 0.5);
}

.redDisabled {
    background-color: transparentize($color-red, 0.5);
    color: transparentize($color-red, 0.5);
}
