@import 'scss';

.container {
    margin-top: pxToRem(40px);

    @include from(5) {
        display: flex;
    }
}

.infoColumn {
    z-index: 5;

    @include from(5) {
        width: 35%;
    }

    @include from(8) {
        width: 30%;
    }
}
.chartColumn {
    position: relative;
    flex: 1;
    z-index: 1;
    border: 1px solid lighten($color-really-grey, 25%);
    margin-top: -5px;
    padding: pxToRem(18px);

    @include from(5) {
        margin-top: unset;
        margin-left: -5px;
    }
}

.disabledColumn {
    &::before {
        display: block;
        content: '';
        background-color: transparentize($color-white, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
    }
}
