@import 'scss';

.container {
  display: flex;
  align-items: center;
  margin-top: pxToRem(15px);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-greyish;
  color: darken($color-greyish, 15%);
  border-radius: 100%;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.12);
  height: pxToRem(63px);
  width: pxToRem(63px);
  margin-right: pxToRem(20px);
}

.name {
  font-weight: 500;
}
