@import 'scss';

.container {
    background: linear-gradient(176deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid lighten($color-really-grey, 25%);
    border-radius: pxToRem(7px);
    padding: pxToRem(18px) pxToRem(20px);
    box-shadow: inset 0px -3px 0px 0px lighten($color-really-grey, 25%);

    @include from(3) {
        padding: pxToRem(30px) pxToRem(36px);
    }
}
