@import 'scss';

.stat {
    color: $color-really-grey;
    font-size: pxToRem(16px);
    font-weight: 300;
    margin-bottom: pxToRem(19px);

    @include from(7) {
        font-size: pxToRem(23px);
    }

    @include from(9) {
        font-size: pxToRem(28px);
    }

    @include from(10) {
        font-size: pxToRem(34px);
    }
}

.statNumber {
    display: inline-block;
    width: 2.5em;
    text-align: center;

    @include from(7) {
        width: 2em;
    }
}

.addButton {
    font-size: pxToRem(16px);
    width: 100%;

    @include from(3) {
        width: unset;
        font-size: pxToRem(18px);
    }

    @include from(8) {
        font-size: pxToRem(27px);
    }
}
