@import 'scss';

.container {
    animation: fade-in 500ms;
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    opacity: 0.2;
    font-size: 1rem;
    letter-spacing: 5px;
    pointer-events: none;
    user-select: none;
    // This could be shared with JS via CSS variables
    // to synchronize all transition durations across the app.
    transition: opacity 1000ms;

    @include from(3) {
        font-size: 2rem;
    }

    @include from(4) {
        font-size: 3rem;
    }
}

.loaderFadeOut {
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
