@import-normalize;
@import 'scss';

// Global CSS

body {
    margin: 0;
    font-family: $font-grotesque;
}

// Resets, normalizations etc.

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin: 0;
}
