// Taken from https://gist.github.com/garystorey/5920051
@function pxToRem($size) {
    @return $size / 16px * 1rem;
}

// To minimize the number of different breakpoints
// while still not limiting the code to specific
// window sizes (per device for instance), use a
// system where a step is multiplied by a given
// "offset". In this case it's you give a
// "breakpoint step" which is multiplied by a step
// value, for instance 150px * 5.
@mixin from($breakpoint-step) {
    $step: 150px;
    $breakpoint: $step * $breakpoint-step;

    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
