$font-grotesque: 'Space Grotesk', sans-serif;

$color-white: #ffffff;
$color-greyish: #f5f5f5;
$color-really-grey: #9a9a9a;
$color-green: #a6d8bb;
$color-green-but-light: #d1ffe4;
$color-red: #e29595;

$transition-duration: 400ms;
$transition-easing: cubic-bezier(0.03, 1.1, 0.36, 0.985);
$transition-default: $transition-duration $transition-easing;
